*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('/images/background.jpg');
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    color : black;
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
}

.taskbar {
    margin: 0px;
    padding: 0px;
    background-color:black;
}

.taskbar .taskbar-links {
    margin: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.taskbar .taskbar-links li{
    list-style: none;
    padding: 15px 55px;
}

.taskbar .taskbar-links li a{
    text-decoration: none;
    color: white;
}

#a-1 {
    font-size: 40px;
}

#a-2 {
    font-size: 20px;
    margin: auto;
}

#a-3 {
    font-size: 30px;
    color: aqua;
}

.ending {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100vw;
    background-color: grey;
    text-align: center;
}

.catalog{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28%;
    left: 38%;
}

.catalog .item {
    border: solid 5px white;
    margin: 13px 0px;
    padding: 10px 117px;
    background-color: black;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.catalog button:hover{
    border: solid 5px black;
    background-color: white;
    color: black;
}