<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H & M</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <header class = "taskbar">
        <ul class = "taskbar-links">
            <li><a id="a-1" href="/">Souled Store</a></li>
            <li><a id="a-2" href="/women">Women</a></li>
            <li><a id="a-3" href="/men">men</a></li>
            <li><a id="a-2" href="/kids">kids</a></li>
        </ul>
    </header>

    <div class = "catalog">
        <button type="button" class="item" onclick="window.location.href = 'http://localhost:3000/men/shirt';">shirt</button>>
        <button type="button" class="item">pant</button>
        <button type="button" class="item">shoe</button>
        <button type="button" class="item">watch</button>
    </div>

    <footer class="ending">
        <h3> Created by Uthkarsh Gaikwad </h3>
    </footer>

</body>
</html>